#Test Birdsounds
*.wav
*.png
*.h5
*.ipynb
.directory
.DS_store
__pycache__/
.vscode
storage/
.ps_project
.dockerignore
Dockerfile
docker-compose.debug.yml
docker-compose.yml
environment.yml
requirements.txt
test.py
env/