<h1>Which bird would it be?</h1>
<div>
    <button id='record-button'>Record audio</button><br><br>
</div>


<script>
  // var player = document.getElementById('player');
  const recordButton = document.querySelector('#record-button');
  // const audio = document.querySelector('audio');

  function createAudioElement(blobUrl) {
    const downloadEl = document.createElement('a');
    downloadEl.style = 'display: block';
    downloadEl.innerHTML = 'download';
    downloadEl.download = 'audio.webm';
    downloadEl.href = blobUrl;
    const audioEl = document.createElement('audio');
    audioEl.controls = true;
    const sourceEl = document.createElement('source');
    sourceEl.src = blobUrl;
    sourceEl.type = 'audio/webm';
    audioEl.appendChild(sourceEl);
    document.body.appendChild(audioEl);
    document.body.appendChild(downloadEl);
}
  
  recordButton.onclick = function() {
    navigator.mediaDevices.getUserMedia({ audio: true})
      .then(stream => {
        const chunks = [];
        const recorder = new MediaRecorder(stream);
        
        recordButton.innerHTML = 'Stop recording'

        recorder.ondataavailable = e => {
        
          chunks.push(e.data);
        
          if (recorder.state == 'inactive') {
            const blob = new Blob(chunks, { type: 'audio/webm' });
            createAudioElement(URL.createObjectURL(blob));
            console.log(blob);
            console.log(blob.size);
          }
        }
        recorder.start();
        
        recordButton.onclick = function() {
          recorder.stop()
        }

      }).catch(console.error);
  }

  function handleSuccess(stream) {
    window.stream = stream;
    console.log(stream)
  }

</script>